.customers-wrapper {
  .customer {
    margin-bottom: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .info {
      .name, .address {
        margin: 0;
      }

      .name {
        font-weight: bold;
      }
    }

    .action-block {
      margin-left: auto;
      display: flex;
      align-items: center;

      .btn {
        margin-left: 1.5rem;
      }
    }
  }
}

