@import "styles";

.app-wrapper {
  display: flex;
  height: 100vh;

  .app-content-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;

    .app-main {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: auto;
    }
  }
}
