<div class="customer">
  <section class="info-table-block">
    <div class="item">
      <p class="title">Name</p>
      <p class="value">{{ customer?.name }}</p>
    </div>
  </section>
  <section class="info-table-block">
    <div class="item">
      <p class="title">address</p>
      <p class="value">{{ customer?.address1 }} {{ customer?.address2 }}</p>
    </div>
  </section>
  <section class="info-table-block">
    <div class="item">
      <p class="title">Postcode</p>
      <p class="value">{{ customer?.postcode }}</p>
    </div>
  </section>
  <section class="info-table-block">
    <div class="item">
      <p class="title">Phone</p>
      <p class="value">{{ customer?.phone }}</p>
    </div>
  </section>
  <section class="info-table-block">
    <div class="item">
      <p class="title">Email</p>
      <p class="value">{{ customer?.email }}</p>
    </div>
  </section>

</div>
