.info-table-block {
  .item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1.5rem;
    border-bottom: 1px solid var(--border-color);

    &:first-child {
      border-top: 1px solid var(--border-color);
    }

    &.item-form-group {
      display: block;
      border-bottom: none;
    }

    .title {
      font-weight: bold;
    }
  }
}
