<aside class="app-aside">
  <nav class="nav">
    <a routerLink="/" class="home-logo-link">
      <span class="text-primary">pet</span>
      <span class="text-accent">solutions</span>
    </a>
    <div class="logo">
      <span class="text-primary">Tom</span>
      <span class="text-accent">&</span>
      <span class="text-primary">Co</span>

    </div>
    <a routerLink="/" class="link">
      <mat-icon>group</mat-icon>
      <span class="title">Klianten</span>
    </a>
    <a routerLink="/" class="link">
      <mat-icon>receipt</mat-icon>
      <span class="title">Salesbook</span>
    </a>
    <a routerLink="/" class="link">
      <mat-icon>person</mat-icon>
      <span class="title">Bestelling</span>
    </a>
    <a routerLink="/" class="link">
      <mat-icon>category</mat-icon>
      <span class="title">Items</span>
    </a>
  </nav>
</aside>
