@import "./styles/styles";
@import "./styles/theme/colors";

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--font-color);
}

a, button {
  cursor: pointer;
}

*, *:before, *:after {
  box-sizing: border-box;
  scrollbar-width: thin;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

a, a:focus, a:active, a:visited, a:hover {
  color: var(--accent-color);
}

.img {
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-accent {
  color: var(--accent-color) !important;
}

.text-warn {
  color: var(--warn-color) !important;
}

.text-gray {
  color: var(--grey-font-color) !important;
}
